body {
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh ;
}

.player-bar {
    height: 10rem;
    align-items: center;
    display: flex;
}
.individual-player-bar {
    display: flex;
    align-items: center;
    width: 30rem;
    justify-content: center;
    border-color: rgb(115, 115, 115);
    border-style: solid;
    border-radius: 30px;
    height: 100%;
    margin: 3rem;
        font-size: 3rem;
    font-weight: bold;
}

.player-active {
    background-color: rgb(115, 115, 115);
}

.display-bar {
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: center;
    width: 30rem;
    font-size: 5rem;
    font-weight: bold;
}

.game-container {
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    
}

.game-box {
    border-color: black;
    border-style: solid;
    font-size: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamebox-hidden {
    visibility: hidden;
}